<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <provider
            android:name="io.github.libxposed.service.XposedProvider"
            android:exported="true"
            android:authorities="${applicationId}.XposedService" />

        <receiver
            android:name="io.github.magisk317.relay.xp.hook.code.AutoCancelReceiver"
            android:exported="false" />

        <receiver
            android:name="io.github.magisk317.relay.xp.hook.code.CopyCodeReceiver"
            android:exported="false" />
    </application>

</manifest>
