[submodule "smscode-core"]
	path = smscode-core
	url = https://github.com/magisk317/smscode-core
[submodule "magisk-ui-kit"]
	path = magisk-ui-kit
	url = https://github.com/magisk317/magisk-ui-kit.git
[submodule "build-logic"]
	path = build-logic
	url = https://github.com/magisk317/magisk-build-logic.git
[submodule "smscode-rules"]
	path = smscode-rules
	url = https://github.com/magisk317/smscode-rules.git
	branch = main
