[submodule "smscode-core"]
	path = smscode/core
	url = https://gitlab.com/magisk731/smscode-core
[submodule "magisk-ui-kit"]
	path = magisk-ui-kit
	url = https://gitlab.com/magisk731/magisk-ui-kit.git
[submodule "build-logic"]
	path = build-logic
	url = https://gitlab.com/magisk731/magisk-build-logic.git
[submodule "smscode-rules"]
	path = smscode/rules
	url = https://gitlab.com/magisk731/smscode-rules.git
	branch = main
[submodule "scripts/_toolkit"]
	path = scripts/_toolkit
	url = https://gitlab.com/magisk731/magisk-ci-toolkit.git
[submodule "magisk-xposed-kit"]
	path = magisk-xposed-kit
	url = https://gitlab.com/magisk731/magisk-xposed-kit.git
